/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* Importing Open Sans Font */
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.text-primary {
    color: #FD6E0A;
}

.dark-1 {
    color: #181818;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}

.bg-secondary {
    background-color: #FFF8F3;
}

/* Button Styles */
.btn-primary {
    background-color: #FD6E0A;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #FFFFFF;
    color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border: 2px solid #FD6E0A;
    border-radius: 5px;
    margin-left: 30px;
}

/* Section Styles */
.section-title {
    font-size: 35px;
    font-weight: bold;
    /* color: #181818; */
}

.section-description {
    font-size: 18px;
    font-weight: 400;
    /* color: #474747; */
    line-height: 30px;
}

/* Header */
.header {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}


/* Navbar */
nav {
    display: flex;
    align-items: center; /* vertically Centers the Content or children of nav */
    justify-content: space-between; /* Horizontally Centers the Content or children of nav */
    margin: 0px 200px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center; /* vertically Centers the Content or children of nav ul */
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}

nav ul li a {
    text-decoration: none;
    font-size: 20px;
}


/* Banner Styles */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content {
    max-width: 585px;
    max-height: 356px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
}

.banner-description {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.banner-profile-picture {
    width: 584px;
    height: 676px;
}


/* Main Section */
main {
    max-width: 1140px;
    margin: 0 auto; /* Centers the main section */
}


/* About Section */
.about {
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    margin-top: 130px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-title {
    font-size: 20px;
    margin-top: 35px;
    margin-bottom: 0px;
}

.item-description {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
